ion-toolbar {
	--background: rgb(172, 0, 0);
	--border-color: rgb(172, 0, 0);
	--border-style: solid;
	--border-width: 8px;
	--color: white;
	--min-height: 56px;
	--opacity: 1;
	--padding-bottom: 4px;
	--padding-end: 4px;
	--padding-start: 4px;
	--padding-top: 4px;
}

// Clase 'title title-md' para centrar el titúlo del toolbar.
.title.title-md {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    width: 70%;
    text-align: center;
}

