
<ion-header>
	<ion-toolbar class="toolbar-rojo">
		
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/tickets"></ion-back-button>
		</ion-buttons>
		
		<ion-title>Nuevo ticket</ion-title>
		
	</ion-toolbar>
</ion-header>


<ion-content>
	
	<form [formGroup]="formulario" (ngSubmit)="enviarFormulario(); formulario.reset()" novalidate="novalidate">
		
		<!-- SELECT - INCIDENCIA COMÚN -->
		<ion-item>
			<ion-label>Incidencia en Común: </ion-label>
			<ion-select [formControlName]="'incidenciaComun'">
				<ion-select-option *ngFor="let incidenciaComun of comunesOpciones" [value]="incidenciaComun.value">{{ incidenciaComun.name }}</ion-select-option>
			</ion-select>
		</ion-item>
		
		<!-- INPUT - TÍTULO -->
		<ion-item>
			<ion-label>Título: </ion-label>
			<ion-input [placeholder]="'titulo'" [formControlName]="'titulo'" required></ion-input>
		</ion-item>
		
		<!-- INPUT - DESCRIPCION -->
		<ion-item>
			<ion-label>Descripción: </ion-label>
			<ion-input [placeholder]="'Descripción'" [formControlName]="'descripcion'" required></ion-input>
		</ion-item>
		
		<!-- SELECT - TIPO DE TICKET/INCIDENCIA -->
		<ion-item>
			<ion-label>Tipo de incidencia: </ion-label>
			<ion-select [formControlName]="'tipo'">
				<ion-select-option *ngFor="let tipo of tiposOpciones" [value]="tipo.value">{{ tipo.name }}</ion-select-option>
			</ion-select>
		</ion-item>
		
		<!-- CHECKBOXES - COMPONENTES -->
		<label>Componentes con fallas: </label> <br>
		<div *ngFor="let componente of formulario.controls['componentes']['controls']; let i = index" class="form-check">
			<ion-item>
				<ion-checkbox [formControl]="componente" class="form-check-input"></ion-checkbox>
				<ion-label class="form-check-label" class="uk-text-uppercase">{{ opcionesCheckbox[i] }}</ion-label>
			</ion-item>
		</div>
		<div style="padding-left: 20px">
			<ion-label>Otros: </ion-label>
			<ion-input type="text" [placeholder]="'otro'" [formControlName]="'otro'" required></ion-input>
		</div>
		
		<!-- SELECT - EQUIPOS ASIGNADOS -->
		<ion-item>
			<ion-label>Seleccione equipo: </ion-label>
			<ion-select [formControlName]="'equipo'">
				<ion-select-option *ngFor="let equipo of equipos" [value]="equipo.value">{{ equipo.name }}</ion-select-option>
			</ion-select>
		</ion-item>
		
		<!-- SELECT - URGENCIA-->
		<ion-item>
			<ion-label>Urgencia: </ion-label>
			<ion-select [formControlName]="'urgencia'">
				<ion-select-option *ngFor="let urgencia of urgenciasOpciones" [value]="urgencia.value">{{ urgencia.name }}</ion-select-option>
			</ion-select>
		</ion-item>
		
		<!-- BUTTON - LEVANTAR TICKET -->
		<ion-button type="submit">Levantar Ticket</ion-button>
	</form>
	
</ion-content>