
<ion-header>
	<ion-toolbar class="toolbar-rojo">
		
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/tickets"></ion-back-button>
		</ion-buttons>
		
		<ion-title>Nuevo ticket</ion-title>
		
	</ion-toolbar>
</ion-header>


<ion-content fullscreen>
	
	<form [formGroup]="formulario" (ngSubmit)="enviarFormulario(); formulario.reset()" novalidate="novalidate">
		
		<ion-list>
			<!-- SELECT - INCIDENCIA COMÚN -->
			<ion-item>
				<ion-label>Incidencia en Común</ion-label>
				<ion-select formControlName="incidenciaComun" interface="action-sheet">
					<ion-select-option *ngFor="let incidenciaComun of comunesOpciones" [value]="incidenciaComun.value">
						{{ incidenciaComun.name }}
					</ion-select-option>
				</ion-select>
			</ion-item>
			
			<!-- INPUT - TÍTULO -->
			<ion-item>
				<ion-label position="floating">Título</ion-label>
				<ion-input type="text" formControlName="titulo" required></ion-input>
			</ion-item>
		
			<!-- INPUT - DESCRIPCION -->
			<ion-item>
				<ion-label position="floating">Descripción</ion-label>
				<ion-textarea formControlName="descripcion" rows="3" required></ion-textarea>
			</ion-item>
			
			<!-- SELECT - TIPO DE TICKET/INCIDENCIA -->
			<ion-item>
				<ion-label>Tipo de incidencia</ion-label>
				<ion-select formControlName="tipo" interface="action-sheet" cancelText="Cancelar">
					<ion-select-option *ngFor="let tipo of tiposOpciones" [value]="tipo.value">
						{{ tipo.name }}
					</ion-select-option>
				</ion-select>
			</ion-item>
			
			<!-- CHECKBOXES - COMPONENTES -->
			<!-- <label>Componentes con fallas</label>
			<div  class="form-check">
				<ion-item>
					<ion-checkbox [formControl]="componente" class="form-check-input"></ion-checkbox>
					<ion-label class="form-check-label" class="uk-text-uppercase"></ion-label>
				</ion-item>
			</div>
			<div style="padding-left: 20px">
				<ion-label>Otros: </ion-label>
				<ion-input type="text" [placeholder]="'otro'" [formControlName]="'otro'" required></ion-input>
			</div> -->

		</ion-list>

		<ion-list>
			<ion-list-header>Componentes con fallas</ion-list-header>
			<ion-item *ngFor="let componente of formulario.controls['componentes']['controls']; let i = index">
				<ion-checkbox slot="start" [formControl]="componente"></ion-checkbox>
				<ion-label>{{ opcionesCheckbox[i] }}</ion-label>
			</ion-item>

			<!-- INPUT - Otros -->
			<ion-item>
				<ion-label position="floating">Otros componentes</ion-label>
				<ion-input type="text" formControlName="otro" required></ion-input>
			</ion-item>
		</ion-list>

		<ion-list>
			
			<!-- SELECT - EQUIPOS ASIGNADOS -->
			<ion-item>
				<ion-label>Equipo incidente</ion-label>
				<ion-select formControlName="equipo" cancelText="Cancelar" ok-text="Seleccionar">
					<ion-select-option *ngFor="let equipo of equipos" [value]="equipo.value">{{ equipo.name }}</ion-select-option>
				</ion-select>
			</ion-item>
			
			<!-- SELECT - URGENCIA-->
			<ion-item>
				<ion-label>Urgencia</ion-label>
				<ion-select formControlName="urgencia" cancelText="Cancelar" ok-text="Seleccionar">
					<ion-select-option *ngFor="let urgencia of urgenciasOpciones" [value]="urgencia.value">{{ urgencia.name }}</ion-select-option>
				</ion-select>
			</ion-item>
		</ion-list>
		
		<!-- BUTTON - LEVANTAR TICKET -->
		<!-- <ion-button type="submit">Levantar Ticket</ion-button> -->
	</form>
	
	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button color="amarillo" (click)="enviarFormulario()">
			<ion-icon name="send" color="light"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-content>
