ion-slides, ion-slide{
	height: 100%;
	width: 100;
}

.contenedor {
    max-width: 300px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
}