<app-header titulo="Chat"> {{ sala }}
</app-header>

<ion-content>
	<div style="padding:15px; background-color: gold;">
		<div *ngFor="let mensaje of mensajesArreglo">
			<span><strong>{{ mensaje.user }}: </strong> {{ mensaje.mensaje }}</span>
		</div>
	</div>


	<div style="bottom: 0px; position: fixed; margin: auto">
		<form [formGroup]="formChat" (ngSubmit)="enviarMensaje()">
			<ion-item>
				<ion-input [placeholder]="'Escribe un mensaje...'" [formControlName]="'mensaje'" requiered autofocus autocomplete="off"></ion-input>
			</ion-item>
			<ion-button type="submit" expand="full">Enviar</ion-button>
		</form>
	</div>

</ion-content>