
<ion-content fullscreen>
	
	<div id="header" color="amarillo"></div>
	
	<div id="logo">
		<ion-img src="./../../../../assets/upperlab-logo.png"></ion-img>
		<h1 class="text-primary">
			<span  class="text-amarillo-upemor">Upper</span>
			<span class="text-rojo-upemor"><strong>Lab</strong></span>
		</h1>
	</div>
	
	<div id="inputs-container" class="ion-padding ion-margin-bottom">
		<ion-list>
			<ion-item>
				<ion-label position="floating">Correo</ion-label>
				<ion-input type="email"
							[(ngModel)]="correo"
							class="form-control"
							required> 
				</ion-input>
			</ion-item>
			
			<ion-item class="ion-margin-bottom">
				<ion-label position="floating">Contraseña</ion-label>
				<ion-input type="password" 
							class="form-control"
							[(ngModel)]="contrasena"
							(keyup.enter)="enviarFormulario()"
							required>
				</ion-input>
			</ion-item>
		</ion-list>
		
		<div>
			<ion-button expand="block" type="button" (click)="enviarFormulario()">Ingresar</ion-button>
		</div>

	</div>

</ion-content>

