
ion-content {
	--background: rgb(235, 240, 243);
}

div#header {
	height: 6%;
	background-color: #FE9300 !important;
}

ion-content, div#logo {
	text-align: center;
	align-content: center;
	align-items: center;
}

div#logo {
	margin-bottom: 25px;
}

div#inputs-container {
	background-color: white;
	border-radius: 15px;
	width: 90%;
	margin-left: 5%;
}

// ion-toolbar {
// 	--background:#FE9300;
// }

ion-button {
	--background: var(--ion-color-morado);
	margin-bottom: 20px;
}

ion-img {
	width: 200px;
	height: 200px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

// ion-footer {
// 	background-color: #4D1D90;
// 	position: absolute;
// 	bottom: 0;
// 	width: 100%;
// 	height: 40px;
// 	color: white;
// 	text-align: center;
// }

// ion-input{
// 	margin: 10px 10px 10px 10px;
// }


.text-amarillo-upemor{
	color: #FE9300;
}

.text-rojo-upemor{
	color: red;
}