
<ion-content fullscreen>
	
	<div id="header" color="amarillo"></div>
	
	<div id="logo">
		<ion-img src="./../../../../assets/upperlab-logo.png"></ion-img>
		<h1 class="text-primary">
			<span  class="text-amarillo-upemor">Upper</span>
			<span class="text-rojo-upemor"><strong>Lab</strong></span>
		</h1>
	</div>
	
	<div id="inputs-container" class="ion-padding ion-margin-bottom">
		<form #f="ngForm" (ngSubmit)="f.form.valid && enviarFormulario()" novalidate>
			<ion-list>
				<ion-item>
					<ion-label position="floating">Correo</ion-label>
					<ion-input type="email"
								class="form-control"
								name="correo"
								[(ngModel)]="correo"
								pattern="^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$"
								(keyup.enter)="f.form.valid && enviarFormulario()"
								required> 
					</ion-input>
				</ion-item>
				
				<ion-item class="ion-margin-bottom">
					<ion-label position="floating">Contraseña</ion-label>
					<ion-input type="password" 
								class="form-control"
								name="contrasena"
								[(ngModel)]="contrasena"
								(keyup.enter)="f.form.valid && enviarFormulario()"
								required>
					</ion-input>
				</ion-item>
			</ion-list>
			
			<div>
				<ion-button expand="block" type="submit">Ingresar</ion-button>
			</div>
		</form>

	</div>

</ion-content>

