<div id="principal">
	<div *ngFor="let id of objectKeys(this.chatService.ticketsMaster), let i = index">
		<ion-card>
			<ion-card-content>
				<ion-card-title>{{ i+1 }} - {{ chatService.ticketsMaster[id].titulo }}
					<br>
					<small> ID Ticket: {{ chatService.ticketsMaster[id].id }}</small></ion-card-title>
					<ion-card-subtitle>{{ chatService.ticketsMaster[id].descripcion }}</ion-card-subtitle>
					<ion-label>{{ chatService.ticketsMaster[id].laboratorio | uppercase }}</ion-label>
					<ion-label>{{ chatService.ticketsMaster[id].equipo.nombre | uppercase }}</ion-label>
					<ion-label>{{ chatService.ticketsMaster[id].urgencia }}</ion-label>
					<br>
					<ion-label> {{ chatService.ticketsMaster[id].timestamp }} </ion-label>
					<ion-button [color]=" esAdmin ? 'danger' : 'tertiary'" [routerLink]="['conversacion', chatService.ticketsMaster[id].id]">
						<ion-icon name="chatboxes"></ion-icon>
					</ion-button>
				</ion-card-content>
				<div style="background-color: red;">
					<br><!-- Color de fondo -->
				</div>
			</ion-card>
		</div>
		
	<ion-fab vertical="bottom" horizontal="end" style="position:fixed;" *ngIf="esAdmin !== true">
		<ion-fab-button [routerLink]="['nuevo']">
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
	</ion-fab>
		
	<div vertical="bottom" style="bottom: 0px; float: right; margin: auto">
		<form (ngSubmit)="authService.cerrarSesion()" >
			<ion-button type="submit" vertical="bottom">Cerrar sesión</ion-button>
		</form>
	</div>
</div>