<ion-header>
	<ion-toolbar>
		<ion-title><h1>Upperlab</h1></ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	
	<div id="login">
		<ion-img src="./../../../../assets/upperlab-logo.png"></ion-img>
		<h1 class="text-primary">
			<span class="text-amarillo-upemor">Upper</span>
			<span class="text-rojo-upemor"><strong>Lab</strong></span>
		</h1>	
		
		
		<form [formGroup]="formulario" (ngSubmit)="enviarFormulario(); formulario.reset()">
			<ion-item>
				<ion-label position="floating">Correo</ion-label>
				<ion-input type="email" 
							formControlName="correo" 
							class="form-control"
							required> 
				</ion-input>
			</ion-item>
			
			<ion-item>
				<ion-label position="floating">Contraseña</ion-label>
				<ion-input type="password" 
							class="form-control"
							formControlName="contrasena" 
							required> 
				</ion-input>
			</ion-item>

			<ion-button expand="full" color="rojo" type="submit">Ingresar</ion-button>
			
		</form>
	</div>
</ion-content>



<!-- 
<ion-footer>
	<h6>UPEMOR 2019</h6>
</ion-footer> -->